/*==================== BACKGROUNDS ==================== */

.bg-blanco{background-color: var(--cBlanco)}
.bg-negro{background-color: var(--cNegro)}
.bg-g1{background-color: var(--cGrey1)}
.bg-g2{background-color: var(--cGrey2)}
.bg-g3{background-color: var(--cGrey3)}
.bg-g4{background-color: var(--cGrey4)}
.bg-g5{background-color: var(--cGrey5)}
.bg-g6{background-color: var(--cGrey6)}
.bg-g7{background-color: var(--cGrey7)}
.bg-g8{background-color: var(--cGrey8)}
.bg-g9{background-color: var(--cGrey9)}
.bg-g10{background-color: var(--cGrey10)}

.bg-trans{background-color: transparent}

.bg-color1{background-color: var(--cBrand1)}
.bg-color2{background-color: var(--cBrand2)}
.bg-color3{background-color: var(--cBrand3)}
.bg-color4{background-color: var(--cBrand4)}