/*==================== SIZING ==================== */

/*------------- Width -------------*/

.w-10  {width: 10%;}
.w-20  {width: 20%;}
.w-30  {width: 30%;}
.w-40  {width: 40%;}
.w-50  {width: 50%;}
.w-60  {width: 60%;}
.w-70  {width: 70%;}
.w-80  {width: 80%;}
.w-90  {width: 90%;}
.w-100 {width: 100%;}
/* .w-100w {width: -webkit-fill-available} */

.w-1\/3 {width: 33.3333333%;}
.w-2\/3	{width: 66.666667%;}

.w-1\/4 {width: 25%;}
.w-3\/4	{width: 75%;}

.w-auto {width: auto;}

.w-min {width: min-content;}
.w-max {width: max-content;}
.w-fit {width: fit-content;}

/*------------- Min-Width -------------*/

.min-w-0	{min-width: 0;}
.min-w-full	{min-width: 100%;}
.min-w-min	{min-width: min-content;}
.min-w-max	{min-width: max-content;}

/*------------- Max-Width -------------*/

.max-w-min	{max-width: min-content;}
.max-w-max	{max-width: max-content;}


/*------------- Height -------------*/

.h-10  {height: 10%;}
.h-20  {height: 20%;}
.h-30  {height: 30%;}
.h-40  {height: 40%;}
.h-50  {height: 50%;}
.h-60  {height: 60%;}
.h-70  {height: 70%;}
.h-80  {height: 80%;}
.h-90  {height: 90%;}
.h-100 {height: 100%;}

.h-1\/3 {height: 33.3333333%;}
.h-2\/3	{height: 66.666667%;}

.h-1\/4 {height: 25%;}
.h-3\/4	{height: 75%;}

.h-auto     {height: auto;}
.h-screen   {height: 100vh;}

.h-min      {height: min-content;}
.h-max      {height: max-content;}
.h-fit      {height: fit-content;}
/* .h-100W     {height: -webkit-fill-available} */

/*------------- Min-Height -------------*/

.min-w-0	{min-width: 0;}
.min-w-full	{min-width: 100%;}
.min-w-min	{min-width: min-content;}
.min-w-max	{min-width: max-content;}

/*------------- Max-Height -------------*/

.max-w-min	{max-width: min-content;}
.max-w-max	{max-width: max-content;}
