/*==================== SPACING ==================== */

:root{
    --items-m-size-dinamic: 0;
}

/*------------- Padding -------------*/

.p-0{padding: 0}
.p-2{padding: .125rem}
.p-4{padding: .25rem}
.p-8{padding: .5rem}
.p-12{padding: .75rem}
.p-16{padding: 1rem}
.p-18{padding: 1.125rem}
.p-24{padding: 1.5rem}
.p-28{padding: 1.75rem}
.p-32{padding: 2rem}
.p-40{padding: 2.5rem}
.p-48{padding: 3rem}
.p-56{padding: 3.5rem}
.p-64{padding: 4rem}

/***** R *****/
.pr-0, .px-0{padding-right: 0}
.pr-2, .px-2{padding-right: .125rem}
.pr-4, .px-4{padding-right: .25rem}
.pr-8, .px-8{padding-right: .5rem}
.pr-12, .px-12{padding-right: .75rem}
.pr-16, .px-16{padding-right: 1rem}
.pr-18, .px-18{padding-right: 1.125rem}
.pr-24, .px-24{padding-right: 1.5rem}
.pr-28, .px-28{padding-right: 1.75rem}
.pr-32, .px-32{padding-right: 2rem}
.pr-40, .px-40{padding-right: 2.5rem}
.pr-48, .px-48{padding-right: 3rem}
.pr-56, .px-56{padding-right: 3.5rem}
.pr-64, .px-64{padding-right: 4rem}

/***** L *****/
.pl-0, .px-0{padding-left: 0}
.pl-2, .px-2{padding-left: .125rem}
.pl-4, .px-4{padding-left: .25rem}
.pl-8, .px-8{padding-left: .5rem}
.pl-12, .px-12{padding-left: .75rem}
.pl-16, .px-16{padding-left: 1rem}
.pl-18, .px-18{padding-left: 1.125rem}
.pl-24, .px-24{padding-left: 1.5rem}
.pl-28, .px-28{padding-left: 1.75rem}
.pl-32, .px-32{padding-left: 2rem}
.pl-40, .px-40{padding-left: 2.5rem}
.pl-48, .px-48{padding-left: 3rem}
.pl-56, .px-56{padding-left: 3.5rem}
.pl-64, .px-64{padding-left: 4rem}

/***** T *****/
.pt-0, .px-0{padding-top: 0}
.pt-2, .px-2{padding-top: .125rem}
.pt-4, .py-4{padding-top: .25rem}
.pt-8, .py-8{padding-top: .5rem}
.pt-12, .py-12{padding-top: .75rem}
.pt-16, .py-16{padding-top: 1rem}
.pt-18, .py-18{padding-top: 1.125rem}
.pt-24, .py-24{padding-top: 1.5rem}
.pt-28, .py-28{padding-top: 1.75rem}
.pt-32, .py-32{padding-top: 2rem}
.pt-40, .py-40{padding-top: 2.5rem}
.pt-48, .py-48{padding-top: 3rem}
.pt-56, .py-56{padding-top: 3.5rem}
.pt-64, .py-64{padding-top: 4rem}

/***** B *****/
.pb-0, .px-0{padding-bottom: 0}
.pb-2, .px-2{padding-bottom: .125rem}
.pb-4, .py-4{padding-bottom: .25rem}
.pb-8, .py-8{padding-bottom: .5rem}
.pb-12, .py-12{padding-bottom: .75rem}
.pb-16, .py-16{padding-bottom: 1rem}
.pb-18, .py-18{padding-bottom: 1.125rem}
.pb-24, .py-24{padding-bottom: 1.5rem}
.pb-28, .py-28{padding-bottom: 1.75rem}
.pb-32, .py-32{padding-bottom: 2rem}
.pb-40, .py-40{padding-bottom: 2.5rem}
.pb-48, .py-48{padding-bottom: 3rem}
.pb-56, .py-56{padding-bottom: 3.5rem}
.pb-64, .py-64{padding-bottom: 4rem}

/*------------- Margin -------------*/

.m-0{margin: .0;}
.m-2{margin: .125rem;}
.m-4{margin: .25rem;}
.m-8{margin: .5rem;}
.m-12{margin: .75rem;}
.m-16{margin: 1rem;}
.m-18{margin: 1.125rem;}
.m-24{margin: 1.5rem;}
.m-28{margin: 1.75rem;}
.m-32{margin: 2rem;}
.m-40{margin: 2.5rem;}
.m-48{margin: 3rem;}
.m-56{margin: 3.5rem;}
.m-64{margin: 4rem;}

/***** R *****/
.mr-0, .mx-0{margin-right: .0;}
.mr-2, .mx-2{margin-right: .125rem;}
.mr-4, .mx-4{margin-right: .25rem;}
.mr-8, .mx-8{margin-right: .5rem;}
.mr-12, .mx-12{margin-right: .75rem;}
.mr-16, .mx-16{margin-right: 1rem;}
.mr-18, .mx-18{margin-right: 1.125rem;}
.mr-24, .mx-24{margin-right: 1.5rem;}
.mr-28, .mx-28{margin-right: 1.75rem; }
.mr-32, .mx-32{margin-right: 2rem;}
.mr-40, .mx-40{margin-right: 2.5rem;}
.mr-48, .mx-48{margin-right: 3rem;}
.mr-56, .mx-56{margin-right: 3.5rem;}
.mr-64, .mx-64{margin-right: 4rem;}

/***** L *****/
.ml-0, .mx-0{margin-left: .0;}
.ml-2, .mx-2{margin-left: .125rem;}
.ml-4, .mx-4{margin-left: .25rem;}
.ml-8, .mx-8{margin-left: .5rem;}
.ml-12, .mx-12{margin-left: .75rem;}
.ml-16, .mx-16{margin-left: 1rem;}
.ml-18, .mx-18{margin-left: 1.125rem;}
.ml-24, .mx-24{margin-left: 1.5rem;}
.ml-28, .mx-28{margin-left: 1.75rem; }
.ml-32, .mx-32{margin-left: 2rem;}
.ml-40, .mx-40{margin-left: 2.5rem;}
.ml-48, .mx-48{margin-left: 3rem;}
.ml-56, .mx-56{margin-left: 3.5rem;}
.ml-64, .mx-64{margin-left: 4rem;}

/***** T *****/
.mt-0, .my-0{margin-top: .0;}
.mt-2, .mx-2{margin-top: .125rem;}
.mt-4, .my-4{margin-top: .25rem;}
.mt-8, .my-8{margin-top: .5rem;}
.mt-12, .my-12{margin-top: .75rem;}
.mt-16, .my-16{margin-top: 1rem;}
.mt-18, .my-18{margin-top: 1.125rem;}
.mt-24, .my-24{margin-top: 1.5rem;}
.mt-28, .my-28{margin-top: 1.75rem; }
.mt-32, .my-32{margin-top: 2rem;}
.mt-40, .my-40{margin-top: 2.5rem;}
.mt-48, .my-48{margin-top: 3rem;}
.mt-56, .my-56{margin-top: 3.5rem;}
.mt-64, .my-64{margin-top: 4rem;}

/***** B *****/
.mb-0, .my-0{margin-bottom: .0;}
.mb-2, .mx-2{margin-bottom: .125rem;}
.mb-4, .my-4{margin-bottom: .25rem;}
.mb-8, .my-8{margin-bottom: .5rem;}
.mb-12, .my-12{margin-bottom: .75rem;}
.mb-16, .my-16{margin-bottom: 1rem;}
.mb-18, .my-18{margin-bottom: 1.125rem;}
.mb-24, .my-24{margin-bottom: 1.5rem;}
.mb-28, .my-28{margin-bottom: 1.75rem; }
.mb-32, .my-32{margin-bottom: 2rem;}
.mb-40, .my-40{margin-bottom: 2.5rem;}
.mb-48, .my-48{margin-bottom: 3rem;}
.mb-56, .my-56{margin-bottom: 3.5rem;}
.mb-64, .my-64{margin-bottom: 4rem;}

/*------------- Space Between -------------*/

.space-y-0 > :not(:first-of-type) {--reverse-y: 0;margin-top: calc(0 * calc(1 - var(--reverse-y)));         margin-bottom: calc(0 * var(--reverse-y));}
.space-y-2 > :not(:first-of-type) {--reverse-y: 0;margin-top: calc(.125rem * calc(1 - var(--reverse-y)));   margin-bottom: calc(.125rem * var(--reverse-y));}
.space-y-4 > :not(:first-of-type) {--reverse-y: 0;margin-top: calc(.25rem * calc(1 - var(--reverse-y)));    margin-bottom: calc(.25rem * var(--reverse-y));}
.space-y-8 > :not(:first-of-type) {--reverse-y: 0;margin-top: calc(.5rem * calc(1 - var(--reverse-y)));     margin-bottom: calc(.5rem * var(--reverse-y));}
.space-y-12 > :not(:first-of-type) {--reverse-y: 0;margin-top: calc(.75rem * calc(1 - var(--reverse-y)));   margin-bottom: calc(.75rem * var(--reverse-y));}
.space-y-16 > :not(:first-of-type) {--reverse-y: 0;margin-top: calc(1rem * calc(1 - var(--reverse-y)));     margin-bottom: calc(1rem * var(--reverse-y));}
.space-y-18 > :not(:first-of-type) {--reverse-y: 0;margin-top: calc(1.125rem * calc(1 - var(--reverse-y))); margin-bottom: calc(1.125rem * var(--reverse-y));}
.space-y-24 > :not(:first-of-type) {--reverse-y: 0;margin-top: calc(1.5rem * calc(1 - var(--reverse-y)));   margin-bottom: calc(1.5rem * var(--reverse-y));}
.space-y-28 > :not(:first-of-type) {--reverse-y: 0;margin-top: calc(1.75rem * calc(1 - var(--reverse-y)));  margin-bottom: calc(1.75rem * var(--reverse-y));}
.space-y-32 > :not(:first-of-type) {--reverse-y: 0;margin-top: calc(2rem * calc(1 - var(--reverse-y)));     margin-bottom: calc(2rem * var(--reverse-y));}
.space-y-40 > :not(:first-of-type) {--reverse-y: 0;margin-top: calc(2.5rem * calc(1 - var(--reverse-y)));   margin-bottom: calc(2.5rem * var(--reverse-y));}
.space-y-48 > :not(:first-of-type) {--reverse-y: 0;margin-top: calc(3rem * calc(1 - var(--reverse-y)));     margin-bottom: calc(3rem * var(--reverse-y));}
.space-y-56 > :not(:first-of-type) {--reverse-y: 0;margin-top: calc(3.5rem * calc(1 - var(--reverse-y)));   margin-bottom: calc(3.5rem * var(--reverse-y));}
.space-y-64 > :not(:first-of-type) {--reverse-y: 0;margin-top: calc(4rem * calc(1 - var(--reverse-y)));     margin-bottom: calc(4rem * var(--reverse-y));}

.space-y-reverse > :not(:first-of-type)	{--reverse-y: 1;}

.space-x-0 > :not(:first-of-type) {--reverse-x: 0;margin-right: calc(0 * var(--reverse-x));                 margin-left: calc(0 * calc(1 - var(--reverse-x)));}
.space-x-2 > :not(:first-of-type) {--reverse-x: 0;margin-right: calc(.125rem * var(--reverse-x));           margin-left: calc(.125rem * calc(1 - var(--reverse-x)));}
.space-x-4 > :not(:first-of-type) {--reverse-x: 0;margin-right: calc(.25rem * var(--reverse-x));            margin-left: calc(.25rem * calc(1 - var(--reverse-x)));}
.space-x-8 > :not(:first-of-type) {--reverse-x: 0;margin-right: calc(.5rem * var(--reverse-x));             margin-left: calc(.5rem * calc(1 - var(--reverse-x)));}
.space-x-12 > :not(:first-of-type) {--reverse-x: 0;margin-right: calc(.75rem * var(--reverse-x));           margin-left: calc(.75rem * calc(1 - var(--reverse-x)));}
.space-x-16 > :not(:first-of-type) {--reverse-x: 0;margin-right: calc(1rem  * var(--reverse-x));            margin-left: calc(1rem  * calc(1 - var(--reverse-x)));}
.space-x-18 > :not(:first-of-type) {--reverse-x: 0;margin-right: calc(1.125rem * var(--reverse-x));         margin-left: calc(1.125rem * calc(1 - var(--reverse-x)));}
.space-x-24 > :not(:first-of-type) {--reverse-x: 0;margin-right: calc(1.5rem * var(--reverse-x));           margin-left: calc(1.5rem * calc(1 - var(--reverse-x)));}
.space-x-28 > :not(:first-of-type) {--reverse-x: 0;margin-right: calc(1.75rem * var(--reverse-x));          margin-left: calc(1.75rem * calc(1 - var(--reverse-x)));}
.space-x-32 > :not(:first-of-type) {--reverse-x: 0;margin-right: calc(2rem  * var(--reverse-x));            margin-left: calc(2rem  * calc(1 - var(--reverse-x)));}
.space-x-40 > :not(:first-of-type) {--reverse-x: 0;margin-right: calc(2.5rem * var(--reverse-x));           margin-left: calc(2.5rem * calc(1 - var(--reverse-x)));}
.space-x-48 > :not(:first-of-type) {--reverse-x: 0;margin-right: calc(3rem  * var(--reverse-x));            margin-left: calc(3rem  * calc(1 - var(--reverse-x)));}
.space-x-56 > :not(:first-of-type) {--reverse-x: 0;margin-right: calc(3.5rem * var(--reverse-x));           margin-left: calc(3.5rem * calc(1 - var(--reverse-x)));}
.space-x-64 > :not(:first-of-type) {--reverse-x: 0;margin-right: calc(4rem  * var(--reverse-x));            margin-left: calc(4rem  * calc(1 - var(--reverse-x)));}

.space-x-reverse > :not(:first-of-type)	{--reverse-x: 1;}

.items-p-0 > *{padding: 0}
.items-p-2 > *{padding: .125rem}
.items-p-4 > *{padding: .25rem}
.items-p-8 > *{padding: .5rem}
.items-p-12 > *{padding: .75rem}
.items-p-16 > *{padding: 1rem;}
.items-p-18 > *{padding: 1.125rem}
.items-p-24 > *{padding: 1.5rem}
.items-p-28 > *{padding: 1.75rem}
.items-p-32 > *{padding: 2rem}
.items-p-40 > *{padding: 2.5rem}
.items-p-48 > *{padding: 3rem}
.items-p-56 > *{padding: 3.5rem}
.items-p-64 > *{padding: 4rem}

.items-m-0 > *{margin: 0; width: calc(var(--items-m-size-dinamic) - 0rem);}
.items-m-2 > *{margin: .125rem; width: calc(var(--items-m-size-dinamic) - .25rem);}
.items-m-4 > *{margin: .25rem; width: calc(var(--items-m-size-dinamic) - .5rem);}
.items-m-8 > *{margin: .5rem; width: calc(var(--items-m-size-dinamic) - 1rem);}
.items-m-12 > *{margin: .75rem; width: calc(var(--items-m-size-dinamic) - 1.5rem);}
.items-m-16 > *{margin: 1rem; width: calc(var(--items-m-size-dinamic) - 2rem)}
.items-m-18 > *{margin: 1.125rem; width: calc(var(--items-m-size-dinamic) - 2.25rem);}
.items-m-24 > *{margin: 1.5rem; width: calc(var(--items-m-size-dinamic) - 3rem);}
.items-m-28 > *{margin: 1.75rem; width: calc(var(--items-m-size-dinamic) - 3.5rem);}
.items-m-32 > *{margin: 2rem; width: calc(var(--items-m-size-dinamic) - 4rem);}
.items-m-40 > *{margin: 2.5rem; width: calc(var(--items-m-size-dinamic) - 5rem);}
.items-m-48 > *{margin: 3rem;width: calc(var(--items-m-size-dinamic) - 6rem);}
.items-m-56 > *{margin: 3.5rem; width: calc(var(--items-m-size-dinamic) - 7rem);}
.items-m-64 > *{margin: 4rem; width: calc(var(--items-m-size-dinamic) - 8rem);}
