/*==================== BOTONES ==================== */

.btn,
.btn-sm,
.btn-big,
.btn1,
.btn2,
.btn3,
.btn4{
   
    min-width: 64px;
    padding: 0 16px;
    font-weight: 500;
    height: 46px;
    letter-spacing: 0.078rem;

}

.btn-sm{height: 42px;}
.btn-big{height: 54px;}

.btn1{
    background-color: var(--cBrand1);
    color: var(--cGrey1);
} 

.btn1:hover{
    background-color: var(--cBrand1);
    opacity: 0.9;
    color: var(--cGrey1);
} 


.btn2{
    background-color: var(--Grey5);
    color: var(--Grey8);
} 

.btn3{
    background-color: transparent;
    color: var(--cBrand1);
    border: solid 2px var(--cBrand1);
}

.btn4{
    background-color: var(--cp0);
    color: var(--cp);
}