/*==================== BOTONES ==================== */

a.btn-1,
a.btn-sm,
a.btn-big,
a.btn-1,
a.btn-sm-1,
a.btn-big-1,
a.btn-2,
a.btn-sm-2,
a.btn-big-2,
a.btn-3,
a.btn-sm-3,
a.btn-big-3,
a.btn-4,
a.btn-sm-4,
a.btn-big-4,
a.btn-5,
a.btn-sm-5,
a.btn-big-5,
button.btn,
button.btn-sm,
button.btn-big,
button.btn-1,
button.btn-sm-1,
button.btn-big-1,
button.btn-2,
button.btn-sm-2,
button.btn-big-2,
button.btn-3,
button.btn-sm-3,
button.btn-big-3,
button.btn-4,
button.btn-sm-4,
button.btn-big-4
button.btn-5,
button.btn-sm-5,
button.btn-big-5{
    min-width: 64px;
    padding: 0 16px;
    font-weight: 500;
    height: 46px;
    letter-spacing: 0.078rem;

}

a.btn,
a.btn-sm,
a.btn-big,
a.btn-1,
a.btn-sm-1,
a.btn-big-1,
a.btn-2,
a.btn-sm-2,
a.btn-big-2,
a.btn-3,
a.btn-sm-3,
a.btn-big-3,
a.btn-4,
a.btn-sm-4,
a.btn-big-4,
a.btn-5,
a.btn-sm-5,
a.btn-big-5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;

}

button.btn,
button.btn-sm,
button.btn-big,
button.btn-1,
button.btn-sm-1,
button.btn-big-1,
button.btn-2,
button.btn-sm-2,
button.btn-big-2,
button.btn-3,
button.btn-sm-3,
button.btn-big-3,
button.btn-4,
button.btn-sm-4,
button.btn-big-4,
button.btn-5,
button.btn-sm-5,
button.btn-big-5{
    cursor: pointer;
}

.btn-sm, 
a.btn-sm-1, button.btn-sm-1,
a.btn-sm-2, button.btn-sm-2,
a.btn-sm-3, button.btn-sm-3,
a.btn-sm-4, button.btn-sm-4,
a.btn-sm-5, button.btn-sm-5 {height: 38px;}

.btn-big,
a.btn-big-1, button.btn-big-1,
a.btn-big-2, button.btn-big-2,
a.btn-big-3, button.btn-big-3,
a.btn-big-4, button.btn-big-4,
a.btn-big-5, button.btn-big-5 {height: 54px; padding: 0 20px;}


/*------------- Border Radius -------------*/

.btn-1, a.btn-sm-1, button.btn-sm-1, a.btn-big-1, button.btn-big-1{
    background-color: var(--cBrand1);
    color: var(--cBlanco);
    transition: ease-in-out .3s;
} 
.btn-1:hover, a.btn-sm-1:hover, button.btn-sm-1:hover, a.btn-big-1:hover, button.btn-big-1:hover{
    background-color: var(--cBrand1-400); 
    transition: ease-in-out .3s;
}
.btn-1:active, a.btn-sm-1:active, button.btn-sm-1:active, a.btn-big-1:active, button.btn-big-1:active{
    background-color: var(--cBrand1-600); 
    transition: ease-in-out .3s;
}


/*------------- Border Radius -------------*/

.btn-2, a.btn-sm-2, button.btn-sm-2, a.btn-big-2, button.btn-big-2{
    background-color: var(--cGrey3);
    color: var(--cGrey6);
    transition: ease-in-out .3s;
} 
.btn-2:hover, a.btn-sm-2:hover, button.btn-sm-2:hover, a.btn-big-2:hover, button.btn-big-2:hover{
    background-color: var(--cGrey2);
    filter: brightness(95%);
    color: var(--cGrey7);
    transition: ease-in-out .3s;
}
.btn-2:active, a.btn-sm-2:active, button.btn-sm-2:active, a.btn-big-2:active, button.btn-big-2:active{
    background-color: var(--cGrey4);
    transition: ease-in-out .3s;
}

/*------------- Border Radius -------------*/

.btn-3, a.btn-sm-3, button.btn-sm-3, a.btn-big-3, button.btn-big-3{
    background-color: transparent;
    border: solid 2px var(--cBrand1);
    color: var(--cBrand1);
    transition: ease-in-out .4s;
}
.btn-3:hover, a.btn-sm-3:hover, button.btn-sm-3:hover, a.btn-big-3:hover, button.btn-big-3:hover{
    background-color: var(--cBrand1); 
    color: var(--cBlanco);
    transition: ease-in-out .4s;
}
.btn-3:active, a.btn-sm-3:active, button.btn-sm-3:active, a.btn-big-3:active, button.btn-big-3:active{
    background-color: var(--cBrand1-600); 
    border: solid 2px var(--cBrand1-600);
    transition: ease-in-out .3s;
}


/*------------- Border Radius -------------*/

.btn-4, a.btn-sm-2, button.btn-sm-4, a.btn-big-4, button.btn-big-4{
    background-color: var(--cBrand1-50);
    color: var(--cBrand1);
    transition: ease-in-out .3s;
} 
.btn-4:hover, a.btn-sm-4:hover, button.btn-sm-4:hover, a.btn-big-4:hover, button.btn-big-4:hover{
    background-color: var(--cBrand1-100);
    transition: ease-in-out .3s;
} 
.btn-4:active, a.btn-sm-4:active, button.btn-sm-4:active, a.btn-big-4:active, button.btn-big-4:active{
    background-color: var(--cBrand1-200); 
    transition: ease-in-out .3s;
}

/*------------- Border Radius -------------*/

.btn-5, a.btn-sm-2, button.btn-sm-5, a.btn-big-5, button.btn-big-5{
    background-color: transparent;
    color: var(--cGrey9);
    transition: ease-in-out .3s;
}
.btn-5:hover, a.btn-sm-5:hover, button.btn-sm-5:hover, a.btn-big-5:hover, button.btn-big-5:hover{
    color: var(--cBrand1);
    transition: ease-in-out .3s;
} 
