
:root{

    --cBrand1: #6a54f8;
    --cBrand2: #302D40;
    --cBrand3: #2AD9BC;
    --cBrand4: #FFCC00;
    
    --cBrandVariant1: #f2f0ff;
    --cBrandVariant2: #3A364D;
    --cBrandVariant3: #36B3A8;
    --cBrandVariant4: #F2BA49;

    --container-custom: 1340px;
    --shadow-custom: 0px 4px 12px rgba(0, 0, 0, 0.16);
    --border-radius: 6px;

}

/*open terminal folder skan*/
/*cat skanstyle/* > skanstyle/skanstyle-full/skan.css*/