
:root{

    --cBrand1: #6A55F8;
    --cBrand2: #302D40;
    --cBrand3: #2AD9BC;
    --cBrand4: #FFCC00;

    --container-custom: 1340px;
    --shadow-custom: 0px 4px 12px rgba(0, 0, 0, 0.16);
    --border-radius: 6px;

}

/*open terminal folder skan*/
/*cat skanstyle/* > skanstyle/skanstyle-full/skan.css*/