/* You can add global styles to this file, and also import other style files */

/*==================== VARIABLES ==================== */

:root{

    --g1: #ffffff;
    --g2: #fafafa;
    --g3: #f5f5f5;
    --g4: #f0f0f0;
    --g5: #dedede;
    --g6: #c2c2c2;
    --g7: #979797;
    --g8: #818181;
    --g9: #606060;
    --g10: #3c3c3c;

}

.c-g1{color: var(--g1) !important;}
.c-g2{color: var(--g2) !important;}
.c-g3{color: var(--g3) !important;}
.c-g4{color: var(--g4) !important;}
.c-g5{color: var(--g5) !important;}
.c-g6{color: var(--g6) !important;}
.c-g7{color: var(--g7) !important;}
.c-g8{color: var(--g8) !important;}
.c-g9{color: var(--g9) !important;}
.c-g10{color: var(--g10) !important;}

/*-----------------------*/

.b-g1{background-color: var(--g1) !important;}
.b-g2{background-color: var(--g2) !important;}
.b-g3{background-color: var(--g3) !important;}
.b-g4{background-color: var(--g4) !important;}
.b-g5{background-color: var(--g5) !important;}
.b-g6{background-color: var(--g6) !important;}
.b-g7{background-color: var(--g7) !important;}
.b-g8{background-color: var(--g8) !important;}
.b-g9{background-color: var(--g9) !important;}
.b-eg0{background-color: var(--g10) !important;}


/*==================== ESTILOS GENERALES ==================== */

/*---------------------- Barra ----------------------*/

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: var(--g1);
}
   
::-webkit-scrollbar-thumb {
    background: var(--g6); 
    border: solid 2px var(--g1);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--g7); 
}


*{
	margin:0;
	padding: 0;
    box-sizing: border-box;
    
}

/*---------------------- Cuerpo ----------------------*/
/* 
[hidden] {
    display: none !important;
}

*{
	margin:0;
	padding: 0;
    box-sizing: border-box;
    
}

a{
    font-family: 'Poppins', sans-serif !important;
    text-decoration: none !important;
}

img,p,a,button,h1,h2,h3,h4,h5,h6{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

label {
    display: inline-block;
    margin-bottom: 0 !important;
}

html{
    overflow-y:hidden;
}

app-root{
    display: flex;
    flex-direction: column;
    
    background-color: #fff;
    width: 100%;
    height: -webkit-fill-available;
}

main{
    flex-grow: 1;
}

body{
    margin: 0 auto;
	min-width: 100%;
    min-height: 100vh;
    height: 100%;
    position: relative;
}

@media (max-width: 500px){
    body{
        min-width: 500px;
    }
}

@media (max-width: 768px){
    ::-webkit-scrollbar {
        width: 0px;
    }
} */

.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

/*---------------------- Extras ----------------------*/

.p-relative{
    position: relative !important;
}

.p-absolute{
    position: absolute !important;
}

.cursor-pointer{
    cursor: pointer !important;
}

.text-align-center{
    text-align: center;
}

.white-space-nowrap{
    white-space: nowrap;
}

.overflow-hidden{
    overflow: hidden;
} 

.overflow-scroll{
    overflow: scroll;
}

/*---------------------- Animacion ----------------------*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
  
.fast {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}
  
.fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeOut{
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
}
  
.fadeOut {
    animation-name: fadeOut;
}

/*==================== SHADOWS ==================== */

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
  
.shadow {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12) !important;
}
  
.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
  
.shadow-none {
    box-shadow: none !important;
}


/*==================== BOTONES ==================== */

button{
    border:none;
    text-decoration: none;
    cursor: pointer;
}

button:focus {outline:0;}

.btn, .btn-sm, .btn-big{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    min-width: 64px;
    border-radius: 12px;
    padding: 0 16px;
    font-weight: 500 !important;
    line-height: normal !important;
    letter-spacing: 1.2px !important;

}

.btn-sm{height: 42px;}
.btn{height: 46px;}
.btn-big{height: 54px;}

.btn1{
    background-color: var(--cp);
    color: var(--g1);
} 

.btn2{
    background-color: var(--g5);
    color: var(--g8);
} 

.btn3{
    background-color: transparent;
    color: var(--cp);
    border: solid 2px var(--cp);
}

.btn4{
    background-color: var(--cp0);
    color: var(--cp);
}

/*==================== TIPOGRAFIA ==================== */

.f-big{
    font-size: 50px !important;
    font-weight: 300 !important;
    line-height: 62px !important;
    letter-spacing: -0.5px !important;
}

.f-header{
    font-size: 38px !important;
    font-weight: 600 !important;
    line-height: 50px !important;
    letter-spacing: .25px !important;
}

.f-header2{
    font-size: 32px !important;
    font-weight: 600 !important;
    line-height: 42px !important;
    letter-spacing: .25px !important;
}

.f-t1{
    font-size: 28px !important;
    font-weight: 500 !important;
    line-height: 38px !important;
    letter-spacing: 0px !important;   
}

.f-t2{
    font-size: 24px !important;
    font-weight: 500 !important;
    line-height: 32px !important;
    letter-spacing: 0px !important;   
}

.f-h{
    font-size: 21px !important;
    font-weight: 500 !important;
    line-height: 28px !important;
    letter-spacing: .15px !important;
    
}

.f-h2{
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    letter-spacing: .1px !important;
}

.f-b1{
    font-size: 16px !important;
    font-weight: normal !important;
    line-height: 21px !important;
    letter-spacing: .5px !important;
}


.f-c{
    font-size: 14px !important;
    font-weight: normal !important;
    line-height: 18px !important;
    letter-spacing: .25px !important;
}

.f-o{
    font-size: 12px !important;
    font-weight: normal !important;
    line-height: 16px !important;
    letter-spacing: 0em !important;
}


/*----------------------*/

.fw-1{font-weight: 100 !important; /*Thin*/}
.fw-2{font-weight: 200 !important; /*Extra Light*/}
.fw-3{font-weight: 300 !important; /*Light*/}
.fw-4{font-weight: 400 !important; /*Normal*/}
.fw-5{font-weight: 500 !important; /*Medium*/}
.fw-6{font-weight: 600 !important; /*Semi Bold*/}
.fw-7{font-weight: 700 !important; /*Bold*/}
.fw-8{font-weight: 800 !important; /*Extra Bold*/}
.fw-9{font-weight: 900 !important; /*Ultra Bold*/}

/*
100 Thin
200 Extra Light
300 Light
400 Normal
500 Medium
600 Semi Bold
700 Bold
800 Extra Bold
900 Ultra Bold
*/


/*==================== WIDTH ==================== */

.w-10{width: 10% !important;}
.w-20{width: 20% !important;}
.w-30{width: 30% !important;}
.w-3fr{width: 33.3333% !important;}
.w-40{width: 40% !important;}
.w-50{width: 50% !important;}
.w-60{width: 60% !important;}
.w-70{width: 70% !important;}
.w-80{width: 80% !important;}
.w-90{width: 90% !important;}
.w-100{width: 100% !important;}


/*==================== HEIGHT ==================== */

.h-100{height: 100% !important;}
.h-100W{height: -webkit-fill-available !important}


/*==================== PADDING ==================== */

.p-4{padding: .25rem !important;}
.p-8{padding: .5rem !important;}
.p-12{padding: .75rem !important;}
.p-16{padding: 1rem !important;}
.p-18{padding: 1.125rem !important;}
.p-24{padding: 1.5rem !important;}
.p-28{padding: 1.75rem !important;}
.p-32{padding: 2rem !important;}
.p-40{padding: 2.5rem !important;}
.p-48{padding: 3rem !important;}
.p-56{padding: 3.5rem !important;}
.p-64{padding: 4rem !important;}

/***** R *****/
.pr-4, .px-4{padding-right: .25rem !important;}
.pr-8, .px-8{padding-right: .5rem !important;}
.pr-12, .px-12{padding-right: .75rem !important;}
.pr-16, .px-16{padding-right: 1rem !important;}
.pr-18, .px-18{padding-right: 1.125rem !important;}
.pr-24, .px-24{padding-right: 1.5rem !important;}
.pr-28, .px-28{padding-right: 1.75rem !important;}
.pr-32, .px-32{padding-right: 2rem !important;}
.pr-40, .px-40{padding-right: 2.5rem !important;}
.pr-48, .px-48{padding-right: 3rem !important;}
.pr-56, .px-56{padding-right: 3.5rem !important;}
.pr-64, .px-64{padding-right: 4rem !important;}

/***** L *****/
.pl-4, .px-4{padding-left: .25rem !important;}
.pl-8, .px-8{padding-left: .5rem !important;}
.pl-12, .px-12{padding-left: .75rem !important;}
.pl-16, .px-16{padding-left: 1rem !important;}
.pl-18, .px-18{padding-left: 1.125rem !important;}
.pl-24, .px-24{padding-left: 1.5rem !important;}
.pl-28, .px-28{padding-left: 1.75rem !important;}
.pl-32, .px-32{padding-left: 2rem !important;}
.pl-40, .px-40{padding-left: 2.5rem !important;}
.pl-48, .px-48{padding-left: 3rem !important;}
.pl-56, .px-56{padding-left: 3.5rem !important;}
.pl-64, .px-64{padding-left: 4rem !important;}

/***** T *****/
.pt-4, .py-4{padding-top: .25rem !important;}
.pt-8, .py-8{padding-top: .5rem !important;}
.pt-12, .py-12{padding-top: .75rem !important;}
.pt-16, .py-16{padding-top: 1rem !important;}
.pt-18, .py-18{padding-top: 1.125rem !important;}
.pt-24, .py-24{padding-top: 1.5rem !important;}
.pt-28, .py-28{padding-top: 1.75rem !important;}
.pt-32, .py-32{padding-top: 2rem !important;}
.pt-40, .py-40{padding-top: 2.5rem !important;}
.pt-48, .py-48{padding-top: 3rem !important;}
.pt-56, .py-56{padding-top: 3.5rem !important;}
.pt-64, .py-64{padding-top: 4rem !important;}

/***** B *****/
.pb-4, .py-4{padding-bottom: .25rem !important;}
.pb-8, .py-8{padding-bottom: .5rem !important;}
.pb-12, .py-12{padding-bottom: .75rem !important;}
.pb-16, .py-16{padding-bottom: 1rem !important;}
.pb-18, .py-18{padding-bottom: 1.125rem !important;}
.pb-24, .py-24{padding-bottom: 1.5rem !important;}
.pb-28, .py-28{padding-bottom: 1.75rem !important;}
.pb-32, .py-32{padding-bottom: 2rem !important;}
.pb-40, .py-40{padding-bottom: 2.5rem !important;}
.pb-48, .py-48{padding-bottom: 3rem !important;}
.pb-56, .py-56{padding-bottom: 3.5rem !important;}
.pb-64, .py-64{padding-bottom: 4rem !important;}


/*==================== MARGIN ==================== */

.m-0{margin: .0rem !important;}
.m-4{margin: .25rem !important;}
.m-8{margin: .5rem !important;}
.m-12{margin: .75rem !important;}
.m-16{margin: 1rem !important;}
.m-18{margin: 1.125rem !important;}
.m-24{margin: 1.5rem !important;}
.m-28{margin: 1.75rem !important;}
.m-32{margin: 2rem !important;}
.m-40{margin: 2.5rem !important;}
.m-48{margin: 3rem !important;}
.m-56{margin: 3.5rem !important;}
.m-64{margin: 4rem !important;}

/***** R *****/
.mr-0, .mx-0{margin-right: .0rem !important;}
.mr-4, .mx-4{margin-right: .25rem !important;}
.mr-8, .mx-8{margin-right: .5rem !important;}
.mr-12, .mx-12{margin-right: .75rem !important;}
.mr-16, .mx-16{margin-right: 1rem !important;}
.mr-18, .mx-18{margin-right: 1.125rem !important;}
.mr-24, .mx-24{margin-right: 1.5rem !important;}
.mr-28, .mx-28{margin-right: 1.75rem !important; }
.mr-32, .mx-32{margin-right: 2rem !important;}
.mr-40, .mx-40{margin-right: 2.5rem !important;}
.mr-48, .mx-48{margin-right: 3rem !important;}
.mr-56, .mx-56{margin-right: 3.5rem !important;}
.mr-64, .mx-64{margin-right: 4rem !important;}

/***** L *****/
.ml-0, .mx-0{margin-left: .0rem !important;}
.ml-4, .mx-4{margin-left: .25rem !important;}
.ml-8, .mx-8{margin-left: .5rem !important;}
.ml-12, .mx-12{margin-left: .75rem !important;}
.ml-16, .mx-16{margin-left: 1rem !important;}
.ml-18, .mx-18{margin-left: 1.125rem !important;}
.ml-24, .mx-24{margin-left: 1.5rem !important;}
.ml-28, .mx-28{margin-left: 1.75rem !important; }
.ml-32, .mx-32{margin-left: 2rem !important;}
.ml-40, .mx-40{margin-left: 2.5rem !important;}
.ml-48, .mx-48{margin-left: 3rem !important;}
.ml-56, .mx-56{margin-left: 3.5rem !important;}
.ml-64, .mx-64{margin-left: 4rem !important;}

/***** T *****/
.mt-0, .my-0{margin-top: .0rem !important;}
.mt-4, .my-4{margin-top: .25rem !important;}
.mt-8, .my-8{margin-top: .5rem !important;}
.mt-12, .my-12{margin-top: .75rem !important;}
.mt-16, .my-16{margin-top: 1rem !important;}
.mt-18, .my-18{margin-top: 1.125rem !important;}
.mt-24, .my-24{margin-top: 1.5rem !important;}
.mt-28, .my-28{margin-top: 1.75rem !important; }
.mt-32, .my-32{margin-top: 2rem !important;}
.mt-40, .my-40{margin-top: 2.5rem !important;}
.mt-48, .my-48{margin-top: 3rem !important;}
.mt-56, .my-56{margin-top: 3.5rem !important;}
.mt-64, .my-64{margin-top: 4rem !important;}

/***** B *****/
.mb-0, .my-0{margin-bottom: .0rem !important;}
.mb-4, .my-4{margin-bottom: .25rem !important;}
.mb-8, .my-8{margin-bottom: .5rem !important;}
.mb-12, .my-12{margin-bottom: .75rem !important;}
.mb-16, .my-16{margin-bottom: 1rem !important;}
.mb-18, .my-18{margin-bottom: 1.125rem !important;}
.mb-24, .my-24{margin-bottom: 1.5rem !important;}
.mb-28, .my-28{margin-bottom: 1.75rem !important; }
.mb-32, .my-32{margin-bottom: 2rem !important;}
.mb-40, .my-40{margin-bottom: 2.5rem !important;}
.mb-48, .my-48{margin-bottom: 3rem !important;}
.mb-56, .my-56{margin-bottom: 3.5rem !important;}
.mb-64, .my-64{margin-bottom: 4rem !important;}


/*==================== FLEX ==================== */

.flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.flex-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}

.flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}
  
.flex-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
}
  
.flex-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
}
  
.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}
  
.flex-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
}
  
.flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
}
  
.flex-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
}
  
.flex-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
}
  
.flex-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
}
  
.flex-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
}
  
.flex-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
}
  
.justify-content-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
}
  
.justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}
  
.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
  
.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}
  
.justify-content-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
}
  
.align-items-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
}
  
.align-items-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
}
  
.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}
  
.align-items-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
}
  
.align-items-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
}
  
.align-content-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
}
  
.align-content-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
}

.align-content-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
}
  
.align-content-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
}
  
.align-content-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
}
  
.align-content-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
}
  
.align-self-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
}
  
.align-self-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
}
  
.align-self-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
}
  
.align-self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
}
  
.align-self-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
}
  
.align-self-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
}

.flex-1{
    flex: 1;
}

/*==================== INPUTS ==================== */

input {
    outline: none;
    border: none;
}

input:focus {outline:0;}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }


/*==================================================*/

textarea {
    outline: none;
    border: none;
}

textarea:focus{border-color: transparent !important;}
textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }
  
